
footer {
  width: 95%;
  margin: 46px auto auto;
  border-top: 1px solid #D8DDEA;
  & .left-copy {
    color: #B2BCD3;
    padding: 20px;
    & .left-icon{
      width: 200px;
      overflow: hidden;
      margin-top: 10px;
      & ul li{
        float: left;
        width: 20%;
        margin-left: 6.666%;
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
}